/*====== Reset style ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}
/*====== Start Common style ====== */
p {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 150%;
}
a {
    text-decoration: none;
  }
/*====== End Common style ====== */

/*====== Start Header section ====== */
/*====== End Header section ====== */

/*====== Start Main section ====== */
/*====== End Main section ====== */


/*====== Start Footer section ====== */
/*====== End Footer section ====== */